.about {
  height: auto;
    background-image: url("../img/hero.webp");
    background-size: cover; /* Para que la imagen ocupe todo el contenedor sin repetirse */
    background-position: center; /* Para centrar la imagen si es necesario */
    min-height: 100vh;
    margin-bottom: 0px;
  }

  .about-margin{
    margin-top: 70px;
  }