.tapiz {
    height: 90vh;
    background-image: url("../img/hero-opacity.webp");
    background-size: cover; /* Para que la imagen ocupe todo el contenedor sin repetirse */
    background-position: center; /* Para centrar la imagen si es necesario */
}


