.tapiz {
    height: auto;
    background-image: url("../img/hero.webp");
    background-size: cover; /* Para que la imagen ocupe todo el contenedor sin repetirse */
    background-position: center; /* Para centrar la imagen si es necesario */
}





@media (max-width: 600px) {
    /* Estilos para dispositivos pequeños */
    .proyect {
     
      padding-top: 90px;
      padding-left: 20px;
    }
    .tapiz{
        height: auto;
    }
    .custom-padding{
        padding-bottom: 10px;
           
        }

   
    
  }

